body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(149,211,255);
    background: linear-gradient(90deg, rgba(149,211,255,1) 0%, rgba(0,255,179,1) 100%);
}
.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post {
    cursor: pointer;
    position: relative;
    display: block;
}

.post-image {
    margin: 0;
}

.post-image img {
    width: 100%;
    vertical-align: top;
}

.post-overlay {
    background: rgb(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.post:hover .post-overlay {
    display: flex;
}

.post-likes,
.post-comments {
    width: 40px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px;
    }
}